<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs\nlog.log">


	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="VerbosLayout"
			  value="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

	<targets async="true">
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" 
				name="AllLog" 
				fileName="logs\All-${shortdate}.log"
				layout="${VerbosLayout}" />

		<target xsi:type="Console"
				name="AllConsole"
				layout="${level:truncate=4:tolower=true}\: ${logger}[0]${newline}      ${message}${exception:format=tostring}" />

		<target xsi:type="File"
				name="WarningLog"
				fileName="logs\Warning-${shortdate}.log"
				layout="${VerbosLayout}" />

		<target xsi:type="File"
				name="ErrorLog"
				fileName="logs\Error-${shortdate}.log"
				layout="${VerbosLayout}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="AllConsole" />
		<!--Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="AllConsole" final="true" />
		
		<!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
		
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="AllLog" />
		<logger name="*" minlevel="Warn" writeTo="WarningLog" />
		<logger name="*" minlevel="Error" writeTo="ErrorLog" />


	</rules>
</nlog>